<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>CreateLeads.createLeads(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Wrappers.CreateLeads@4fe3c938]<br/></td></tr>
</table>
